@model IndexViewModel

<h1>Welcome, @User.Identity.Name!</h1>

<h2>User List</h2>
<ul>
    @foreach (var user in Model.Users)
    {
        <li>
            <a href="@Url.Action("Index", "ChatApp")?receiverId=@user.Id">@user.UserName</a>
        </li>
    }
</ul>

<h2>Group List</h2>
<ul>
    @foreach (var group in Model.Groups)
    {
        <li>
            <a href="@Url.Action("Index", "GroupChat")?groupId=@group.Id">@group.Name</a>
        </li>
    }
</ul>