@model ChatViewModel

<h2>Private Chat</h2>

<div id="chatContainer">
    <div id="chatMessages">
        @foreach (var message in Model.Messages)
        {
            <p>@message.Sender.UserName: @message.Message</p>
        }
    </div>
    <div id="chatInput">
        <input type="text" id="messageInput" />
        <button type="button" id="sendButton">Send</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var connection = new signalR.HubConnectionBuilder().withUrl('/chatHub').build();

        connection.on('ReceiveMessage', function(senderId, message, timestamp, isRead) {
            var senderUserName = '@Model.Participant.UserName';
            if (senderId === '@Model.Participant.Id') {
                senderUserName = '@Model.User.UserName';
            }
            var formattedTimestamp = new Date(timestamp).toLocaleTimeString();
            var messageContent = '<p>' + senderUserName + ': ' + message + ' (' + formattedTimestamp + ')' + '</p>';
            $('#chatMessages').append(messageContent);

            if (!isRead) {
                connection.invoke('MarkPrivateMessageAsRead', senderId);
            }
        });

        connection.start().catch(function(err) {
            return console.error(err.toString());
        });

        $('#sendButton').on('click', function() {
            var message = $('#messageInput').val();
            connection.invoke('SendMessage', '@Model.Participant.Id', message).catch(function(err) {
                return console.error(err.toString());
            });
            $('#messageInput').val('');
        });
    });
</script>
